@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.myhero {
    background: url('https://images.pexels.com/photos/1367276/pexels-photo-1367276.jpeg?cs=srgb&dl=pexels-rebrand-cities-1367276.jpg&fm=jpg') center center no-repeat;
    background-size: cover;

}

.dataTables_wrapper {
    background: #FFf;
    padding: 40px;
}

.dataTable {
    padding-top: 20px;
    background: #fff;
}

.table :where(:first-child) :where(:first-child) :where(th, td):first-child,
.table :where(:first-child) :where(:first-child) :where(th, td):last-child {
    border-top-left-radius: 0;
}

.table :where(thead, tfoot) :where(th, td) {
    background-color: #f3f3f3;
}

.dataTables_info {
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #1d4ed8 !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
    font-size: 14px;
}